<div class="col-12 mr-auto">
  <div class="float-right"><%= link_to( fa_icon('plus', text: 'Course'), new_course_path , class: 'btn btn-primary') %></div>
  <table class="table table-striped table-hover">
    <caption>Course Data Table</caption>
    <thead class="bg-secondary text-center">
      <tr>
        <th>#</th>
        <th>CourseID</th>
        <th>CourseName</th>
        <th>GroupName</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% num = 0 %>
      <% @course.each do |course| %>
      <tr>
        <td><%= num +=1 %></td>
        <td><%= course.courseID %></td>
        <td><%= course.course_name %></td>
        <td><%= course.group.group_name %></td>
        <td>
          <%= link_to( fa_icon("pencil"), edit_course_path(course), class: 'btn btn-warning btn-sm') %>
          <%= link_to (fa_icon "trash"), course_path(course), class: 'btn btn-danger btn-sm',  method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
