<!DOCTYPE html>
<html>
<head>

	<title>GeExam</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light alert-info " style="margin-bottom: 10px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand row" href="/">สำนักศึกษาทั่วไป มหาวิทยาลัยราชภัฎอุดรธานี</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>
     <div class="collapse navbar-collapse " id="navbarSupportedContent">
       <ul class="nav navbar-nav  ml-auto">
         <li class="nav-item active">
          <%= link_to (fa_icon "tachometer",text: 'ทั่วไป'), root_path, class: 'nav-link', title: 'ทั่วไป' %>
        </li>
        <li class="nav-item">
          <%= link_to (fa_icon "plus-circle", text: 'เพิ่ม course'), new_course_path, class: 'nav-link', title: 'เพิ่ม course' %>
        </li>
        <li class="nav-item">
          <%= link_to (fa_icon "graduation-cap", text: 'นศ.ที่ขอสอบ'), courses_path, class: 'nav-link', title: 'นักศึกษาที่ขอสอบ' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid col-10 bg-light" style="padding: 10px 5px 5px 5px;">
  <%= yield %>
</div>

</body>
</html>
